//Colors
$primary:#6B54A8;
$warning:#F6B04E;
$dark:#292D32;
$gray-200:#CBCBCB;
$gray-300:#747474;
$gray-100:#F4F4F4;
$info:#4431785E;
$white:#fff;
$blue-400:#E2ECFF;
$orange-400:#FFE9DC;
$purple-400:#EFE3FF;
$purple-600:#9747FF;
$orange-600:#F78B4D;
$blue-600:#29B9E7;
$gray-50:#DDDDDD;


//Breakpoints
$breakpoints:(
    xsm:400px,
    sm:480px,
    md:768px,
    lg:992px,
    xl:1200px
);
