
//Regular
@font-face {
    font-family: 'shabnam regular';
    src: url('/assets/fonts/Shabnam.woff') format('woff'),
        url('/assets/fonts/Shabnam.woff2') format('woff2')
}


//Bold
@font-face {
    font-family:'shabnam bold';
    src: url('/assets/fonts/Shabnam-Bold.woff') format('woff'),
         url('/assets/fonts/Shabnam-Bold.woff2') format('woff2')
}