
//Regular
@font-face {
    font-family: 'shabnam regular';
    src: url('../../fonts/shabnam/Shabnam.woff') format('woff'),
        url('../../fonts/shabnam/Shabnam.woff2') format('woff2')
}


//Bold
@font-face {
    font-family:'shabnam bold';
    src: url('../../fonts/shabnam/Shabnam-Bold.woff') format('woff'),
         url('../../fonts/shabnam/Shabnam-Bold.woff2') format('woff2')
}