@import './scss/base/typography';
@import './scss/utils/variables';
@import './scss/bootstrap/custom';
@import './scss/utils/mixins';
@import './scss/utils/functions';


//Global styles
body::before{
    display: block;
    height:70px;
    content: '';
}

ul{
    list-style: none;
}

img{
    object-fit: cover;
}

li,
a{
    text-decoration: none;
    color: $white;
}

a:hover{
 color: $gray-200;
}  

//Navbar
.nav--form{
    .nav--input{
        padding-right: 2.5rem;
    }
    .search-img{
        position: absolute;
        top: 6px;
        right: 10px;
    }
}

//Showcase
.showcase--wrapper{
    height: 40em;
    background: url('./assets/imgs/showcase-bg.png'),
                url('./assets/imgs/overlay_rect_1.png'),
                url('./assets/imgs/overlay_rect_2.png');
    background-repeat: no-repeat;
    background-position: 0 0 , 45em 33em , 25em 18em;
}

.showcase--text{
    width: 50%;
}

//Projects
.projects--vertical-card{
    background: url('./assets/imgs/vertical_mobile.png') no-repeat center center/cover;
    position: relative;
}

.websites-horizontal-card > *,
.projects--vertical-card > *{
    position: relative;
    z-index: 5;
}

.websites-horizontal-card::after,
.projects--vertical-card::after{
content: '';
position:absolute;
width: 100%;
border-radius: 8px;
top: 0;
left: 0;
background-color: rgba(0, 0, 0,0.5);
height: 100%;
}


//Carousel
.carousel--wrapper{
    .swiper{
        height: 40em;
        .swiper-slide {
            &::after{
                position: absolute;
                width: 100%;
                content:'';
                left: 0;
                top: 0;
                height: 100%;
                background-color: rgba(0, 0, 0,0.3);
            }
            text-align: center;
            font-size: 18px;
            background:url('./assets/imgs/office.png')no-repeat center center/cover;
            .carousel-body{
                z-index: 1;
                position: relative;
            }
        
        }    
    }
}

  .swiper-button-next,
  .swiper-button-prev{
    border-radius: 50%;
    padding: 1.5rem !important;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after{
    content: '' !important;
  }

  .swiper-button-next{
    background: url('./assets/icons/left.png')no-repeat center center , $primary !important;
    background-size: 30px;
  }

  .swiper-button-prev{
    background: url('./assets/icons/right.png')no-repeat center center , $primary !important;
    background-size: 30px;
  }

  .swiper-pagination{
    .swiper-pagination-bullet{
        background-color: $gray-100 !important;
        width: 15px;
        height: 15px;
    }

    .swiper-pagination-bullet-active{
        background-color: $primary !important;
        width: 15px;
        height: 15px;
    }
  }

  //Customers
  .customers--wrapper{
    height:50em;
    .container{
        position: relative;
        background: url('./assets/imgs/customers-bg.png') no-repeat 55% 0;
        background-size:50%;
        height: 100%;
        .swiper-slide{
            .customers--card{
                border: 1px solid $gray-50 !important;
                background-color: rgba(255, 255, 255,0.25);
            }
        }
    
        .swiper{
            position: static;
              .swiper-pagination{
                text-align:right;
                position: absolute;
                bottom:10px;
                right: 0;
                .swiper-pagination-bullet{
                    background-color: $primary !important;
                    opacity: 1 !important;
                    transition: width .5s linear;
                    display: inline-block;
                    border-radius: 50px !important;
                    &.swiper-pagination-bullet-active{
                        width: 30px;
                    }
                }
              }

              .swiper-button-prev,
              .swiper-button-next{
                display: none;
              }
        }

        .customers--arrows{
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 10;
        }

        .customers--text{
            width: 48%;
            margin: 0 auto;
        }
    }
  }


  //Order
  .order--wrapper{
    background-color: rgba($primary,0.35);
    .order-bg-wrapper{
        .order-bulb{
            right:-15%;
            top:15%;
        }

        .order-curvyArrow{
            right:-15%;
            top:30%;
        }
    }

    .order-btn{
        background: linear-gradient(270deg,$orange-600 4.62%,$orange-800 100%);
        border:0;
        transition: all 250ms ease-in-out;

         &:hover{
            filter: opacity(0.7);
         }
    }
  }


//Websites
.websites-horizontal-card{
    height: 400px;
    background: url('./assets/imgs/card-9.jpg') no-repeat center center/cover;
    position: relative;

    .websites--text{
        width: 50%;
    }
}


//Map
.leaflet-container {
    width: 100%;
    height:400px;
  }
  
//Breakponits

@include breakpointHandler('sm'){
    html,
    body{
        font-size: 14px;
    }

    
    .footer{
        .footer-desc{
          width: 100%;
        }
    }

    .carousel--wrapper{
        .swiper{
            height: 30em;
        }
    }

}


@include breakpointHandler('md'){
    .swiper-button-next,
    .swiper-button-prev{
        display: none !important;
    }

    .customers--wrapper{
        height: 40em;
        .container{
            .swiper{
                  .swiper-pagination{
                    text-align:center;
                  }
            }
    
            .customers--arrows{
                display: none;
            }
        }
      }

}


@include breakpointHandler('lg'){
    .showcase--text{
        width: 100%;
    }

    .projects--vertical-card{
        height: 30em;
    }

    .carousel--wrapper{
        .carousel-text{
            margin: 0 auto;
            width: 100% !important;
        }
    }

    .swiper {
        .swiper-slide{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .footer{
        .footer-desc{
          width: 75%;
        }
    }

    .customers--wrapper{
        .container{
            background-size: 100%;
            .customers--text{
                width: 100%;
            }
        }
    }

    .websites-horizontal-card{
        .websites--text{
            width: 100%;
        }
      }
}

@include breakpointHandler('xl'){
    .carousel--wrapper{
        .carousel-text{
            width: 75% !important;
        }
    }

    .customers--wrapper{
        .container{
            background-size: 70%;
            background-position: 60% 0;
        }
    }
}

@include breakpointHandler('xxl'){
    .order--wrapper{
        .order-bg-wrapper{
            .order-bulb{
                right:-12%;
                top:10%;
            }
    
            .order-curvyArrow{
                right:-12%;
                top:25%;
            }
        }
      }
}