@import './scss/base/typography';
@import './scss/utils/variables';
@import './scss/bootstrap/custom';
@import './scss/utils/mixins';
@import './scss/utils/functions';


//Global styles
body::before{
    display: block;
    height:70px;
    content: '';
}

//Navbar
.nav--form{
    .nav--input{
        padding-right: 2.5rem;
    }
    .search-img{
        position: absolute;
        top: 6px;
        right: 10px;
    }
}

//Showcase
.showcase--wrapper{
    height: 80vmin;
    background: url('./assets/imgs/showcase-bg.png'),
                url('./assets/imgs/overlay_rect_1.png'),
                url('./assets/imgs/overlay_rect_2.png');
    background-repeat: no-repeat;
    background-position: 0 0 , 45em 33em , 25em 18em;
}

.showcase--text{
    width: 50%;
}

//Projects
.projects--vertical-card{
    background: url('./assets/imgs/vertical_mobile.png') no-repeat center center/cover;
    position: relative;
}

.projects--vertical-card > *{
    position: relative;
    z-index: 5;
}


.projects--vertical-card::after{
content: '';
position:absolute;
width: 100%;
border-radius: 8px;
top: 0;
left: 0;
background-color: rgba(0, 0, 0,0.5);
height: 100%;
}


//Breakponits

@include breakpointHandler('sm'){
    html,
    body{
        font-size: 14px;
    }

}


@include breakpointHandler('md'){
    .showcase--wrapper{
        height:38em;
    }

}


@include breakpointHandler('lg'){
    .showcase--text{
        width: 100%;
    }

    .projects--vertical-card{
        height: 30em;
    }

}